<div class="construction-background">
  <div class="construction-panel">
    <h1 class="construction-text">En Construction</h1>
    <p class="construction-text">Poker component</p>
  </div>
</div>


<div class="connected-users-container">
  <div *ngIf="connectedUsers$ | async as users">
    <p>Personnes connectées : {{ users.length }}</p>
      <div *ngFor="let user of users">
        <span class="status-indicator"></span> {{ user.userName }}
      </div>
  </div>
</div>




<!-- Conteneur de partage -->
<div [class.hidden]="!isShareVisible" class="share-container">
  <h6>Partage cette URL pour inviter d'autres utilisateurs :</h6>
  <div class="url-box">
    <input id="shareUrl" type="text" readonly value="https://luckystarkdevhub.web.app/salon/{{salonId}}" />
    <button class="copy-btn" (click)="copyUrl()">Copier</button>
  </div>
</div>

<!-- Bouton pour masquer/afficher le conteneur de partage -->
<button class="toggle-share-button" (click)="toggleShare()">
  {{ isShareVisible ? '–' : '+' }}
</button>

<app-chat></app-chat>
