html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

body {
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.background-poker {
  background-image: url("assets/poker.png");
}
